<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fcr.qa3.mapper.TypeMapper" >
  <resultMap id="BaseResultMap" type="cn.fcr.qa3.pojo.Type" >
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.fcr.qa3.pojo.Type" >
    insert into tb_type (type, id, attribute
      )
    values (#{type,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{attribute,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.fcr.qa3.pojo.Type" >
    insert into tb_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>