<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fcr.qa3.mapper.UserLoginMapper" >
  <resultMap id="BaseResultMap" type="cn.fcr.qa3.pojo.UserLogin" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="user_describe" property="userDescribe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password, user_phone, user_email, user_img, user_type, user_describe
  </sql>
  
  
  
  <!-- 查询用户数量 -->
  <select id="selectUserLoginCount" resultType="int">
  	select count(*) from tb_user_login
  </select>
  	
  	
  
  
  <!-- 根据某个信息查是否有该用户 -->
  <select id="selectUser" parameterType="cn.fcr.qa3.pojo.UserLogin" resultType="int">
  	select count(*) from tb_user_login 
  		<where>
	  		<if test="userPhone !=null and userPhone !=''">
	  			and user_phone=#{userPhone}
	  		</if>
	  		<if test="userName !=null and userName !=''">
	  			and user_name=#{userName}
	  		</if>
	  		<if test="userEmail !=null and userEmail !=''">
	  			and user_email=#{userEmail}
	  		</if>
	  		<if test="userId !=null and userId !=''">
	  			and user_id=#{userId}
	  		</if>
	  		<if test="userImg !=null and userImg !=''">
	  			and user_img=#{userImg}
	  		</if>
	  		<if test="userType !=null and userType !=''">
	  			and user_type=#{userType}
	  		</if>
	  		<if test="password !=null and password !=''">
	  			and password=#{password}
	  		</if>
	  		<if test="userDescribe !=null and uuserDescribe !=''">
	  			and user_describe=#{userDescribe}
	  		</if>
  	</where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_login
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_login
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.fcr.qa3.pojo.UserLogin" >
    insert into tb_user_login (user_id, user_name, password, 
      user_phone, user_email, user_img, 
      user_type, user_describe)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userImg,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{userDescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.fcr.qa3.pojo.UserLogin" >
    insert into tb_user_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userImg != null" >
        user_img,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userDescribe != null" >
        user_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null" >
        #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userDescribe != null" >
        #{userDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fcr.qa3.pojo.UserLogin" >
    update tb_user_login
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null" >
        user_img = #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userDescribe != null" >
        user_describe = #{userDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fcr.qa3.pojo.UserLogin" >
    update tb_user_login
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_img = #{userImg,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      user_describe = #{userDescribe,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>